@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter/static/Inter-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}
.nav {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}
nav {
    width: 100%;
    height: 100px;
    background-color: #0d0d0d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}
nav .logo {
    width: 28%;
}
.logo p.title {
    color: #f67600;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
nav .links {
    width: 35%;
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.links li a {
    text-decoration: none;
    color: #fff;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.links li a:hover {
    color: #ff9f0d;
}
nav .hel {
    width: 28%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hel #two {
    color: red;
}
.hel #three {
    color: blue;
}
.hel .four {
    width: 20px;
    height: 20px;
}

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 310px;
    background-image: url("../media/images/rubbish.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

.showcase p.title {
    color: var(--fffffff, #fff);
    font-kerning: none;

    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

footer {
    width: 100%;
    background-color: #ff9f0d;
    height: 100px;
    margin-top: 60px;
}

.footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100px;
}

.footer p {
    color: var(--fffffff, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #e7e7f3;
}

.header {
    margin-bottom: 40px;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: 80%;

    margin: 20px auto;
}

.button {
    padding: 16px 32px;
    margin-right: 18px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    outline: none;
}

.button:last-child {
    margin-right: 0;
}

.button_all {
    background-color: #aa0000;
}

.button_clothing {
    background-color: #7a9850;
}

.button_decor {
    background-color: #c55a71;
}

.button_bags {
    background-color: #182f0f;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    width: 312px;
    height: 330px;
    line-height: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card p.title {
    color: #fff !important;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.card img {
    width: 312px;
    height: 267px;
    flex-shrink: 0;
}
.card p.info {
    color: var(--Primary-color, #ff9f0d);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.anime {
    transform: scale(0);
    opacity: 0;
}

.hide {
    display: none;
}
