{% extends 'base.html' %}
{% load static %}

{% block title %} Zafar {% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/index.css' %}">

<div class="showcase">
    <div class="left">
        <p class="info">
            Tez va qiziqarli!
        </p>
        <p class="title">
            <del>Te</del>zlik san'ati <br>
            oziq-ovqat sifati
        </p>
        <p class="block">
            Restoranimiz mazali taomlar sifatli mahsulotlarni <br>
            va sifatli xizmat ko`rsatishni kafolatlaydi
        </p>
        <button>
            <a href="card.html">See Menu</a>
        </button>
    </div>
    <div class="right">
        <img src="{% static 'assets/media/images/zafar12.jpg' %}" alt="">
    </div>
</div>

<div class="about">
    <div class="create">
        <div class="one">
            <p class="infor">
                Biz Haqimizda
            </p>
            <p class="title">
                Biz eng yaxshisini yaratamiz <br>
                oziq-ovqat mahsuloti

            </p>
            <p class="block">
                Goʻsht, jigar, buyrak, dumba, charvi va b. masalliklardan Six K., titrama K., qozon K., parranda
                K.,
                qiyma K., tandir K., pomidor K., dumbul K., charvi K., loʻla K. va b. turlari bor. Six K. — qoʻy
                goʻshtining lahm hamda dumba qismlaridan olib, har biri 10— 12 g keladigan loʻnda-loʻnda
                boʻlaklarga
                boʻlinadi, unga mayda toʻgʻralgan piyoz, tuz, qalampir (murch), kashnich urugʻi, zira, uzum
                sirkasi
                (anor yoki limon suvi) aralashtiriladi.
            </p>
            <p class="info">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                    <path
                        d="M6.51 12.0033C6.34157 12.155 6.12291 12.2389 5.89621 12.2389C5.66951 12.2389 5.45085 12.155 5.28242 12.0033L0.381001 7.45772C0.261114 7.35024 0.165222 7.21871 0.0995756 7.0717C0.0339289 6.92469 0 6.7655 0 6.60451C0 6.44351 0.0339289 6.28432 0.0995756 6.13731C0.165222 5.9903 0.261114 5.85877 0.381001 5.75129L0.994789 5.18199C1.24727 4.95412 1.57533 4.82797 1.91547 4.82797C2.25561 4.82797 2.58366 4.95412 2.83615 5.18199L5.89621 8.01963L14.1638 0.354017C14.4163 0.126142 14.7444 0 15.0845 0C15.4247 0 15.7527 0.126142 16.0052 0.354017L16.619 0.923318C16.7389 1.0308 16.8348 1.16233 16.9004 1.30934C16.9661 1.45635 17 1.61554 17 1.77653C17 1.93753 16.9661 2.09672 16.9004 2.24372C16.8348 2.39073 16.7389 2.52226 16.619 2.62975L6.51 12.0033Z"
                        fill="white" />
                </svg> Halol va sifatli go`sht mahsulotlari
            </p>
            <p class="info">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                    <path
                        d="M6.51 12.0033C6.34157 12.155 6.12291 12.2389 5.89621 12.2389C5.66951 12.2389 5.45085 12.155 5.28242 12.0033L0.381001 7.45772C0.261114 7.35024 0.165222 7.21871 0.0995756 7.0717C0.0339289 6.92469 0 6.7655 0 6.60451C0 6.44351 0.0339289 6.28432 0.0995756 6.13731C0.165222 5.9903 0.261114 5.85877 0.381001 5.75129L0.994789 5.18199C1.24727 4.95412 1.57533 4.82797 1.91547 4.82797C2.25561 4.82797 2.58366 4.95412 2.83615 5.18199L5.89621 8.01963L14.1638 0.354017C14.4163 0.126142 14.7444 0 15.0845 0C15.4247 0 15.7527 0.126142 16.0052 0.354017L16.619 0.923318C16.7389 1.0308 16.8348 1.16233 16.9004 1.30934C16.9661 1.45635 17 1.61554 17 1.77653C17 1.93753 16.9661 2.09672 16.9004 2.24372C16.8348 2.39073 16.7389 2.52226 16.619 2.62975L6.51 12.0033Z"
                        fill="white" />
                </svg> Ajoyib tam va joziba
            </p>
            <p class="info">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                    <path
                        d="M6.51 12.0033C6.34157 12.155 6.12291 12.2389 5.89621 12.2389C5.66951 12.2389 5.45085 12.155 5.28242 12.0033L0.381001 7.45772C0.261114 7.35024 0.165222 7.21871 0.0995756 7.0717C0.0339289 6.92469 0 6.7655 0 6.60451C0 6.44351 0.0339289 6.28432 0.0995756 6.13731C0.165222 5.9903 0.261114 5.85877 0.381001 5.75129L0.994789 5.18199C1.24727 4.95412 1.57533 4.82797 1.91547 4.82797C2.25561 4.82797 2.58366 4.95412 2.83615 5.18199L5.89621 8.01963L14.1638 0.354017C14.4163 0.126142 14.7444 0 15.0845 0C15.4247 0 15.7527 0.126142 16.0052 0.354017L16.619 0.923318C16.7389 1.0308 16.8348 1.16233 16.9004 1.30934C16.9661 1.45635 17 1.61554 17 1.77653C17 1.93753 16.9661 2.09672 16.9004 2.24372C16.8348 2.39073 16.7389 2.52226 16.619 2.62975L6.51 12.0033Z"
                        fill="white" />
                </svg> Professional oshpazlar
            </p>

        </div>
        <div class="two">
            <img class="rasm2" src="{% static 'assets/media/images/kabob.jfif' %}" alt="">
            <img class="rasm1" src="{% static 'assets/media/images/osh.jfif' %}" alt="">

            <img class="rasm3" src="{% static 'assets/media/images/shashlik.jfif' %}" alt="">
        </div>
    </div>
    <div class="category">
        <p class="info">
            Oziq-ovqat toifasi
        </p>
        <p class="title">
            <del>Oziq</del>-ovqat mahsulotini tanlang
        </p>
        <div class="cards">
            {% for food in foods %}
            <a href="/food/{{food.slug}}" class="card">
                <img src="{{food.image.url}}" alt="">
            </a>
            {%endfor%}
            <!-- <div class="card">
                <img src="{% static 'assets/media/images/cate2.png' %}" alt="">
            </div>
            <div class="card">
                <img src="{% static 'assets/media/images/cate3.png' %}" alt="">
            </div>
            <div class="card">
                <img src="{% static 'assets/media/images/cate4.png' %}" alt="">
            </div> -->
        </div>
    </div>
    <div class="exta">
        <div class="bir">
            <div class="odin">
                <img class="img1" src="{% static 'assets/media/images/img1.jpg' %}" alt="">
                <img class="img2" src="{% static 'assets/media/images/img2.jpg' %}" alt="">
            </div>
            <div class="dva">
                <img class="img3" src="{% static 'assets/media/images/img3.jpg' %}" alt="">
                <img class="img4" src="{% static 'assets/media/images/img4.jpg' %}" alt="">
                <img class="img5" src="{% static 'assets/media/images/img5.jpg' %}" alt="">
            </div>

        </div>
        <div class="ikki">
            <p class="info">
                Nima uchun bizni tanlaysiz
            </p>
            <p class="title">
                <del>Oddiy</del> ta'm Va <br>
                Tajribali
            </p>
            <p class="block">
                Taomlarimiz 10000+ ziyod odamlarga yoqdi.Taomlarimiz sifatli va ajoyib.Bizda 1000+ ortiq taomlr
                500+
                dan ortiq ichimliklar. 800+ dan ziyod salatlar. 600+ dan ziyod shirinliklar bor.
                Bizda nahor banket va to`ylar o`tkaziladi.Bizning restoranimiz 30+ yildan ortiq faoliyat olib
                bormoqda.
            </p>
            <div class="boxs">
                <div class="boxes">
                    <div class="box">
                        <img src="{% static 'assets/media/images/Hamburger.png' %}" alt="">

                    </div>
                    <p>Fast food</p>
                </div>

                <div class="boxes">
                    <div class="box">
                        <img src="{% static 'assets/media/images/Cookie.png' %}" alt="">

                    </div>
                    <p>Lunch</p>
                </div>
                <div class="boxes">
                    <div class="box">
                        <img src="{% static 'assets/media/images/Wine.png' %}" alt="">

                    </div>
                    <p>Dinner</p>
                </div>
            </div>
            <div class="year">
                <p class="title">
                    30+
                </p>
                <div class="ex">
                    <p class="info">
                        Years of
                    </p>
                    <p class="block">
                        Experienced
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="icons">
        <div class="icon">
            <div class="icon_one">
                <img src="{% static 'assets/media/images/Group.svg' %}" alt="">
                <p class="info">
                    Professional oshpazlar
                </p>
                <p class="title">
                    50+
                </p>
            </div>
            <div class="icon_one">
                <img src="{% static 'assets/media/images/group2.svg' %}" alt="">
                <p class="info">
                    Oziq-ovqat mahsulotlari
                </p>
                <p class="title">
                    400+
                </p>
            </div>
            <div class="icon_one">
                <img src="{% static 'assets/media/images/Group3.svg' %}" alt="">
                <p class="info">
                    Yillik Tajriba
                </p>
                <p class="title">
                    50+
                </p>
            </div>
            <div class="icon_one">
                <img src="{% static 'assets/media/images/Group4.svg' %}" alt="">
                <p class="info">
                    Baxtli mijozlar
                </p>
                <p class="title">
                    1000+
                </p>
            </div>
        </div>

    </div>
    <div class="chef">
        <p class="title">
            Oshpazlar
        </p>
        <p class="info">
            Bizning oshpazlarimiz bilan tanishing
        </p>
        <div class="mens">
            {%for men in cheif%}
            <div class="men">
                <img src="{{men.image.url}}" alt="">
            </div>
            {% endfor%}
            <!-- <div class="men">
                <img src="{% static 'assets/media/images/Rectangle 8863' %}" png" alt="">
            </div>
            <div class="men">
                <img src="{% static 'assets/media/images/Rectangle 8863' %}" png" alt="">
            </div> -->

        </div>
    </div>
</div>

{% endblock content %}